@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  color: #1C1D1D;
  font-family: 'Noto Serif', Arial, sans-serif;
}

h1,
h2 {
  @apply text-heading;
}

h3,
h4,
h5,
h6 {
  @apply text-subheading;
}

p,
li {
  @apply text-paragraph;
}

li {
  @apply font-extralight
}

input,
textarea {
  @apply text-black font-thin;
}

.spinner-submit {
  width: 21px;
  height: 21px;
  position: relative;
}

.spinner-submit::before,
.spinner-submit::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #4079B7;
  animation: spin 1s linear infinite;
}

.spinner-submit::after {
  animation-delay: 0.5s;
}

.spinner-contact {
  width: 22.5px;
  height: 22.5px;
  position: relative;
}

.spinner-contact::before,
.spinner-contact::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #4079B7;
  animation: spin 1s linear infinite;
}

.spinner-contact::after {
  animation-delay: 0.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* swiper styles */

:root {
  --swiper-pagination-color: #4079B7;
  --swiper-pagination-bullet-inactive-color: #4079B7;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
}

.swiper-pagination-v {
  left: -30px !important;
}

.swiper,
.swiper-pagination-bullets-dynamic {
  overflow: visible !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-white;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: white;
}