@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-black: #1C1D1D;
  --color-white: #FFFFFF;
  --color-lightBlue: #47AAF8;
  --color-blue: #4079B7;
  --color-grey: #94A3B8;
  --color-linkBlue: #0000FF;
  --color-transparent: transparent;

  --text-*: initial;
  --text-paragraph: 1rem;
  --text-paragraph--font-weight: 300;
  --text-paragraph--line-height: 140%;
  --text-subheading: 1rem;
  --text-subheading--font-weight: 700;
  --text-subheading--line-height: 120%;
  --text-subheading--letter-spacing: -0.02rem;
  --text-heading: 2.25rem;
  --text-heading--font-weight: 400;
  --text-heading--line-height: 110%;
  --text-heading--letter-spacing: -0.045rem;

  --breakpoint-*: initial;
  --breakpoint-phone: 425px;
  --breakpoint-tablet: 800px;
  --breakpoint-desktop: 1280px;

  --spacing-15: 60px;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Noto Serif', Arial, sans-serif;
}

body {
  color: #1C1D1D;
}

h1,
h2 {
  @apply text-heading;
}

h3,
h4,
h5,
h6 {
  @apply text-subheading;
}

p,
li {
  @apply text-paragraph;
}

input,
textarea {
  @apply text-black;
}

.spinner-submit {
  width: 21px;
  height: 21px;
  position: relative;
}

.spinner-submit::before,
.spinner-submit::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #4079B7;
  animation: spin 1s linear infinite;
}

.spinner-submit::after {
  animation-delay: 0.5s;
}

.spinner-contact {
  width: 22.5px;
  height: 22.5px;
  position: relative;
}

.spinner-contact::before,
.spinner-contact::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #4079B7;
  animation: spin 1s linear infinite;
}

.spinner-contact::after {
  animation-delay: 0.5s;
}

.spinner-large {
  width: 80px;
  height: 80px;
  position: relative;
}

.spinner-large::before,
.spinner-large::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid transparent;
  border-top-color: #4079B7;
  animation: spin 2s linear infinite;
}

.spinner-large::after {
  animation-delay: 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* swiper styles */

:root {
  --swiper-pagination-color: #4079B7;
  --swiper-pagination-bullet-inactive-color: #4079B7;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
}

.swiper-pagination-v {
  left: -30px !important;
}

.swiper,
.swiper-pagination-bullets-dynamic {
  overflow: visible !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-white;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: white;
}